{% extends "base.html" %}
{% block title %}{{ m.title }}{% endblock %}

{% block content %}
<section class="max-w-5xl mx-auto px-4 py-10 space-y-8">

    {% include "past_meeting_detail/header.html" %}
    {% include "meeting_detail/meta.html" %}

    <div class="grid md:grid-cols-2 gap-6">
        {% include "past_meeting_detail/location.html" %}
        {% include "past_meeting_detail/online_link.html" %}
    </div>

    {% include "past_meeting_detail/attendance.html" %}

    {% include "past_meeting_detail/topics.html" %}

    {% include "past_meeting_detail/draft_schedule.html" %}

    {% include "past_meeting_detail/meeting_sum.html" %}

</section>
{% endblock %}
